
.profil{
    z-index: 900;
    position: relative;
    left: 400px;
    bottom: -230px;
    width: 1416px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 6px 6px 15px;
    background-color: #7FDD7F;
}
.img{
    border-radius: 100%;
}
.subProfil{
    position: relative;
    left: 76px;
    bottom: -100px;
    width: 297px;
    height: 144px;
    padding:25px 0;
    background-color: transparent;
    display: inline-block;
}
h4,h3,label{
    font-weight: bolder;
    font-family: "open sans", sans-serif;
    font-size: 25px;
}
label,label{
    display: inline-block;
}
.profil_img{
    position: relative;
    margin-right: 20px;
    width: 1018px;
    height: 300px;
    left: 302px;
    top: -137px;
    border-radius: 20px;
    background-color: #ffffff;

}
.profil_img div{
    display: inline-block;
    margin: 40px 35px;
    width: 124px;

}
.profil_img div h6{
    font-weight: bold;
    font-family: "open sans", sans-serif;
    color: #8c8c8c;
}

.edit{
    text-decoration: none;
    color: #111111;
}
.edit:hover{
    text-decoration: none;
    color: #8c8c8c;
}
.create{
    position: relative;
    left: 1721px;
    bottom: -194px;
    text-decoration: none;
    background-color: #E8E8E8;
    padding: 15px 20px;
    color: #111111;
    border-radius: 0px;
    border:0 solid transparent;
    box-shadow: 2px 2px 9px #808080;
}
.create:hover{
    text-decoration: none;
    background-color: #cecece;
    padding: 15px 20px;
    color: #111111;
    border-radius: 0px;
    border:0 solid transparent;
    box-shadow: 0px 0px 0px #808080;
    font-weight: bold;
}

.title1{
    position: relative;
    left: 400px;
    bottom: -70px;
    width: 600px;
    font-weight: bold;
    font-family: "open sans", sans-serif;
    color: #838383;

}





