
.card {
    position: relative;
    width: 700px;
    left: 360px;
    bottom: -152px;

}
card-header1{
    display: inline-block;
    align-content: baseline;

}
.app{
    width: 1520px;
    background-color: #C9C9C9 ;
}
.tr{
    background-color: #E8E8E8;
    margin: 5px 5px;
    height: 100px;
}

.scroll-bar{
    height:548px;
    border: 0px solid transparent;
    overflow: auto;
}
.title1{
    display: inline-block;
    position: relative;
    left: 400px;
    bottom: -70px;
    font-weight: bold;
    font-family: "open sans", sans-serif;
    color: #838383;

}
.h2 {
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background-color: #ffff;
    left: 280px;
}
.h2 h2{
    font-size: 25px;
    font-weight: bolder;
}
.create2{
    display: inline-block;
    position: relative;
    left: 1478px;
    bottom: -74px;
    text-decoration: none;
    background-color: #E8E8E8;
    padding: 15px 20px;
    color: #111111;
    border-radius: 0px;
    border:0 solid transparent;
    box-shadow: 2px 2px 9px #808080;
}
.create2:hover,.create:hover{
    text-decoration: none;
    background-color: #cecece;
    padding: 15px 20px;
    color: #111111;
    border-radius: 0px;
    border:0 solid transparent;
    box-shadow: 0px 0px 0px #808080;
    font-weight: bold;
}
.create{
    display: inline-block;
    position: relative;
    left: 1679px;
    bottom: -129px;
    text-decoration: none;
    background-color: #E8E8E8;
    padding: 15px 20px;
    color: #111111;
    border-radius: 0px;
    border:0 solid transparent;
    box-shadow: 2px 2px 9px #808080;
}



