<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <meta charset="UTF-8">
    <title>dental clinic</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/addAppointment.css}" rel="stylesheet"/>

</head>
<body>
    <div th:replace="navbar :: navbar">
    </div>
    <div>
        <h1 class="title1">New Appointment</h1>
    </div>
    <div  class="create">
        <h2 style="font-weight: bolder">ADD Appointment</h2>
        <div class="p-3 field">
            <form  th:action="@{/saveAppointment}" method="post">

                <div class="mb-4">

                    <input type="hidden" name="patient_id" class="from-control" th:value="${patient.id}">
                </div>
                <div class="mb-4 row ">

                    <input th:class="col-4" type="time" name="startTime" class="from-control" >
                    <h5 style="padding:20px 0 0 20px " th:class="col-1">To</h5>
                    <input th:class="col-4" type="time" name="endTime" class="from-control">
                    <span class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <input type="date" name="date" class="from-control" >
                    <span class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <input type="text" name="price" class="from-control" th:value="${price}">

                </div>


                <button class="btn btn-success">Save</button>

            </form>
        </div>
    </div>
</body>
</html>