<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <meta charset="UTF-8">
    <title>dental clinic</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/addPatient.css}" rel="stylesheet"/>


</head>
<body>
    <div th:replace="navbar::navbar"></div>
    <div>
        <h1 class="title1" th:text="${patient.first_name} + ' ' + ${patient.last_name}"></h1>
    </div>

    <div class="p-3 field">
        <h2>Edit Patient</h2>

        <form class="field" th:action="@{/editPatient}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="patient_id" th:value="${patient.id}">
            <div class="mb-2">
                <input type="file" name="image" class="form-control" >
            </div>
            <div class="mb-2">
                <input type="text" name="first_name" class="from-control" th:value="${patient.first_name}" required>
            </div>
            <div class="mb-2">
                <input type="text" name="last_name" class="from-control"th:value="${patient.last_name}" required>
            </div>
            <div class="mb-2">
                <input type="date" name="birthday" class="from-control" th:value="${patient.birthday}" required>
            </div>
            <div class="mb-2">
                <input type="tel" name="telp" class="from-control" th:value="${patient.telp}" required>
            </div>
            <div class="mb-2">
                <input type="date" name="creationDate" class="from-control" th:value="${patient.creationDate}" required>
            </div>
            <div class="mb-2">
                <input type="text" name="adress" class="from-control" th:value="${patient.adress}"required>
            </div>
            <div class="mb-2">
                <input type="text" name="cin" class="from-control" th:value="${patient.cin}"required>
            </div>
            <div class="mb-2">
                <input type="text" name="city" class="from-control" th:value="${patient.city}" required>
            </div>
            <div class="mb-2">
                <select id="gender" name="gender">
                    <option value="HOMME" th:selected="${patient.gender == 'HOMME'}">Male</option>
                    <option value="FEMME" th:selected="${patient.gender == 'FEMME'}">Female</option>
                </select>
            </div>
            <button class="btn btn-outline-success">Save</button>


        </form>
    </div>
</body>
</html>