<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <meta charset="UTF-8">
  <title>dental clinic</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
  <link th:href="@{/css/profileSecretary.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="navbar::navbar"></div>
<div>
<h1 class="title1">Secretary</h1>
</div>
<div >

<div class="profil" th:each="secretary : ${secretaries}">
 <a class="edit" th:href="@{/secretary/information/editSecretary(id=${secretary.id})}">
    <div class="subProfil">
      <div>
        <h3 th:text="${secretary.first_name} + ' ' + ${secretary.last_name}"></h3>
      </div>

    <div class="profil_img">

      <div>
        <h6>Gender</h6>
        <h7 th:text="${secretary.gender}"></h7>
      </div>
      <div>
        <h6>Birthday</h6>
        <h7 th:text="${secretary.birthday}"></h7>
      </div>
      <div>
        <h6>Phone number</h6>
        <h7 th:text="${secretary.telp}"></h7>
      </div>
      <div>
        <h6>City</h6>
        <h7 th:text="${secretary.city}"></h7>
      </div>
      <div>
        <h6>Address</h6>
        <h7 th:text="${secretary.adress}"></h7>
      </div>
      <div>
        <h6>E-Mail</h6>
        <h7 th:text="${secretary.email}"></h7>
      </div>
      <div>
        <h6>E-Mail</h6>
        <h7 th:text="${secretary.job}"></h7>
      </div>
      <div>
        <h6>CIN</h6>
        <h7 th:text="${secretary.cin}"></h7>
      </div>
      <div>
        <h6>Salary</h6>
        <h7 th:text="${secretary.salary}+' DH'"></h7>
      </div>
    </div>
  </div>
 </a>
</div>
</div>
</body>
</html>
