<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="navbar"
>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <meta charset="UTF-8">
    <title>dental clinic</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/secretary.css}" rel="stylesheet"/>



</head>
<body>
<div th:replace="navbar :: navbar">
</div>
<div>
    <h1 class="title1">Secretary </h1>
</div>
<div>
    <div class="p-3">
        <div><a class="create" th:href="@{/secretary/information}">Information</a></div>
        <div class="card app">
            <div class="card-header card-header1 ">
                <h2 style="display: inline-block ;margin-right: 870px;font-weight: bold">Appointments</h2>
                <div class="h2" style="display: inline-block">

                    <h2  th:text="${length}"></h2>

                </div>
            </div>
            <div class="card-body">

                <div class="scroll-bar" >
                    <table class=" table table-striped">
                        <thead th:each="appointment:${appointmentForToday}">
                        <tr style="text-align: center;color: #6c757d">
                            <th>Day</th>
                            <th>Time</th>
                            <th>Full name</th>
                            <th>phone number</th>
                            <th>City</th>
                        </tr>
                            <tr class="table-row" style="text-align: center;font-size: 20px">
                                <td th:text="${appointment.getDate()}"></td>
                                <td th:text="${#temporals.format(appointment.getStartTime(), 'HH:mm')}+'  '+${#temporals.format(appointment.getEndTime(), 'HH:mm')}"></td>
                                <td th:text="${appointment.getPatient().first_name}+' '+${appointment.getPatient().last_name}"></td>

                                <td th:text="${appointment.getPatient().telp}"></td>
                                <td th:text="${appointment.getPatient().adress}"></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


    </div>
</body>



</html>
